$slider_visible_width: 800px !default
$slider_visible_height: 260px !default
$slider_container_length: 2400px !default

.slider-viewport
  height: $slider_visible_height
  width: $slider_visible_width
  overflow: hidden
  position: relative

.slider-container
  position: relative
  width: $slider_container_length
  left: 0px
  height: 100%

